.CreatePost {
  display: flex;
  border: 1px solid var(--border-color);
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  gap: 20px;

  .rightPart {
    flex-grow: 1;
    .captionInput {
      width: 100%;
      padding: 8px 16px;
      border: 1px solid var(--border-color);
      border-radius: 4px;
    }

    .img-container {
      // border: 2px solid red;
      margin-top: 20px;
      border-radius: 4px;

      .post-img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
  .labelImg {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  .bottom-part {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

    .inputImg {
      display: none;
    }
  }
}
